@font-face {
	font-family: 'dashicons';
	src: url('../fonts/dashicons.eot');
}

@font-face {
	font-family: 'dashicons';
        src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABrcAA4AAAAAKyQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABRAAAABwAAAAcZ1lt1UdERUYAAAFgAAAAHQAAACAAdgAET1MvMgAAAYAAAABAAAAAYFAJZexjbWFwAAABwAAAAIsAAAGiqHyM42dhc3AAAAJMAAAACAAAAAgAAAAQZ2x5ZgAAAlQAABTnAAAg/DwbagVoZWFkAAAXPAAAAC4AAAA2AgpYDGhoZWEAABdsAAAAGgAAACQPogeuaG10eAAAF4gAAABgAAAAnCrOGqhsb2NhAAAX6AAAAJQAAACUKeky/G1heHAAABh8AAAAHgAAACAAmACEbmFtZQAAGJwAAAEaAAACXDFcWOZwb3N0AAAZuAAAARoAAALk4nxqT3dlYmYAABrUAAAABgAAAAZUlVFoAAAAAQAAAADMPaLPAAAAAM2NxfMAAAAAzY4FEnjaY2BkYGDgA2IJBhBgYmAEQg8gZgHzGAAHYgB7AAAAeNpjYGbfxTiBgZWBhVWEZQMDA8M0CM20h8GIKQLIB0phB6He4X4MDg8YPpazXwDxgaQGkGJEUqLAwAgALrgKo3jaY2BgYGaAYBkGRgYQmAPkMYL5LAwNYFoAKMLzgOEj50fJj8ofNT+afbT86PzR9aPHx8iPmR/L//9nYADKMnwU+KjwUfWjwUeLjw5AWfePwR8TPhb+/6/AzM/C94/vB993vo98H/he8b3ke8F3j+8G30WojTgBIxsDXAkjE5BgQlfAMOwBAFaLLnUAAAEAAf//AA942sVZe3hU5Zk/77kmEJK5ZSYQJplLMsOQIUDmBsRMYgkiEG4DlnE1LMIgiNFGhTSt4SKGNFXBQCkVan26lLVB1j6xYlpjHqXA4459xGYxUoupoFZNo+tKm21hZs63+37fmckFafvH/rFz5pzzXd/v8t5+73c44Mb8ZnMcz8XgVaVHeYXL4wIcl82HwmC2FIGlSAhCCBTZVAxmk5LLKzI+ivgwhIKhMB8KVmB5hdKjfqFWHZrcfHDejJ+sKrupPnKfOusFteoFq3WL1Vq4YJP5a07/ilnKrZsfeMDv8E2q80+1rsKqVfJK9Qv+zKGpk5yuorbygqn2SaDyL/BnXmDVq62FwVt1s53+Bx7YfKsya7nfUau/f34hJUqnDeCFDrlG6eMMmLFXmPP1JrkMQG93uAJ6fxCGhdZIU1MkRnJIPyaUvqaIWhtpIjkw3BTheyNNHCdwf0Uav1Oe4UQui9LJ5vX2UrveDnqLkg3ubAhABx/lo8kV0AEdpFGwHd6ifkv91hb+CnQIH/Nr1OPqiRgM81+QxsNb+O+wGtIY5yjtOBdXGpQGzoJbXI20wSzngWxzu3TVEAYL3VaLuSIEZl0e5IIbqiHod7sceTy4gpi2ZbO8rABtFxQ6QSqaG3lqJ3l6544dhyMfbiGJp2pqqn9eLVzS8iDX1VVXY8HSOpKw0qawMfUZby4udkSL1c/oi/8myFs+jBzesWMH3L3jqchcK0kcxh41NVIeJYwlRSAtrWNFdUiGNU6uQSL/VGzji9Qh9qb7L3Ixtr4+zsgVcm4uiFzQ+11l4LYrToeM3DD77BVBrsJskh0uPwR8epYI+irAPpq26O2SqdLz0z2kcc9PPZWVHmHQU6nW9B040HeAd8XxeWCzBU6AN50sJP3CIN/rqYzHKz1qLfbgX6Q1fanf3kOObqbdBFvyE5aQ4BrKNsqJl8mJwGVTSaHctefb9XJNqkAYTJ4UbKkCPio1k/7kirjUzDHeDcHt8h+UO1Aq9JyT8s4NQaoRgvZC4UC1yAWnXaHrqMaVB6Vi0vsK1E650+U2xKB2Mn1PIb2pxjuEPd+s+Owu0tLibYl6W6rkJ7WGRrfrTvU4Jgxu1x1TyCv8rY2ph1dXfK3FG8WW0LpumM6F5+LwoKwqnVw+Z8f5y6Ib6JghcBlCwRJLNm+WUQlDTHZQpOTWDeSLb6sfLT5/cDH/hN+/YS2ITeQSTIEiz5zE00WrrUVF1tVFVvHEBr9f3br44PlFfNG3wbBh7RwvuUQ+geJt/6MWW63phpwAXj6qZOH+5XFl3EKNy077KIfBR1lcBvmUpVXgpHytpBuCKpnJBWjOmmnJmB9Qsio9ic8pyyWTpzJVEKPJmHW6dSQBw18t43vFLppOrqCst1ZGKg/lW635hzDBu2iKHB1bpl6kKWYvuA6YotyC6yjEDHLPJVO1syi4nSJuJbhD5iBVTNHUzbf8YtnpBUtqjf5fXCGDQfJO8NcBsFzBwtolC4zKlG51T7ffuGDJgl8t775C/hj8dRBmYIM/scLa0yhzJrQrvThWATcLx3aUizPBFRZ8FSg6uZJQim8r5IpORzk/EzcnDD7RfOfKoHeyXhBkuaz67vCm9vJcEPUFZYEdoNv69va8wL8e+3Dj3R/8bL/bvfU/vi0mXVWLFlUZjaF7NyyZ0fRcvTJ54c0r5pJPu9vO33dNynMXFVjsjpyJ1xrf2s3sOxdDHmahns6kHHTKCi5cVvLtAZdbcYdcbqfeFwy5Q5ZgKGDPN1tCFsVs4SqCfpdDNilZF6eEjpw/Et1E+jdFj/QfCRVc/J1lLpbc1gBeVjLXok682tV1tUtcRH5779exCttcLAhhVXQTeDbWY0mwMF1Sv5Hc3EVba/JN7YhDWYn2FznDmQ3oZUS3IAl2tybihopggM1Drj61YMG6RvJG+yvknUOkPyYULpz90DrgZ96/bNn9y5TyU4SQ/1nXGKghLxWTJ+ICPA7VD61boF5eNieELZifm6Y0yMdQq0twHypEi1KOMiorvmzwBQ0lRkeJO1SEchoMObPBmSsIg0dAv/5EuGfLj644BslRcrSv4DTMeP6H5MuRUlgLa/sMD3f/l3xsR+OZyLqz3yeN0NEJhmcSrekC6jt2/P7H9UwO38D1ZiMvJmrWKHOJL/BRtZM0qp18FDrErkyKj6Ktpb4kC+dNddDHVdKeoxqI7s4FFUVisSZSKGth0Zyxu/k+ZLIvIB9LtDNda8anWlj7+IP3rqjK002c9sie0/XjcsUt0WhLFG0vmkP5WKUnVZAxy6TfHqipCeh1OZ5Ny28emz4UpZ1UOYY/XOMktFle9A1ZOF8j+r9iJnc+LoQzr+bmoxVZcoMV4B4Yca4l6Zmbr3sb0WhnLiHd1pe+laxECVvdAF3dThgmOTHwJu+bbrWO/8cpJzJ3XDIlPsd22v86e3QZgYI3Ho+zfifGPOF5usqYWIdEaAP8MTkGLxeTjykURxTdGJGgfqGyoeZZQohOBik6iafRiVATSyQyfyWrKZK6nIEqgi3SlFo8ppr6Jw7n24fYQsEdLqa4xeg0usGASmJGpQWp1GxxOR2i4ipxOpSg0pcqUM3l8VkHkY2RSmoXv8HP4Gc0Fvg9veRX9fXkV73TAgXSAC5perJb3FaJ29PPVkuOXbr0/ZeUl59++mXlpcw648p8pYnLQS3iwILAEKj8ImZEs4rW9PBeq5VEkifFspNFq1RjPz95nzqoRPciqiMrU3OlgZNWSC1ZyBfsUz/lOJkSxbVQHOHkPFw9t4H7Bhbp+HIosYm5wOsMRSDaSsLA2USzQcfLmHFhaRCoE0Rbi4Yc7Ta13S5FRo+DtlY2F4NRgFC6yB0s8aGyu+R8k9mCFxQCloI538QrqCxK38aX/0J+Q3rIb/7y8kZMw2y4BWb/5eXk63A/LL2yb98V8iI5QF5kqU9vhh2//m9perXNRq7ku7KyTHkm0+7VznucJSZMrm48Sn5zjynXmP/Iarvxflj/1hGwNPjrnSWSUKGWvvfxtu2bBNfad14CScgyZyvCAm2sjdfNQVozdlRYymaiTnyxIzm4Ab4DupsuRyL8F5AlCnzIDxNlXoBACLJIn/pnIZDF+2bCBHj29P0blCWLPUvnZklrUl/nt6tPThePPPf2e+SJLfzLyuRIZBfdfiktuw0oWQraJaq1XCkyFeyBcRd4pebkSWqnEDVdztzoWq5eRWcdZxez6bdBhyIpuYhZylBG/O5y9LeGkDtXtFDrGgqWfrVIkW6teH7R5Lf+5SfrX3rmvgrdlI+e+8Fd61Mrb1TKX9h9Z7VL9yTcvPIPM9tOnru26+1UNHroRoVsfSNYleL8HE5H1xfC9WUDRYJ440I9oAdcidqJhmOF2KXd2lJhGK1vcoXaKQ3E0O2QxhhVzYxfpRjfyE3DdaInsaK+OzV991ETYByxA3pg5QiFfGJdZOV3SX+cWgA+GmnCCEIzBv0x+paa9y3+JekHb1NEqyCNeOegQdDKvNgR+RRLxxfZaG/1uNOTOStn4zhtxFJqcIxOwZm+9U7BJzDsC3G5xlN59Wql+DtkVzx900tqTrRjLBNVGio9107xchhNPto4OurojYB5MNUi2Egj9WXaHOKcAzOlQbOVx6XaXDoG7CV9Ll2ylqkCf5B/RVw2rfIcef/cuf2LlqZaDPHW/Sw5R+HicnVZLJb8AgvAcc7JPxRPte76t3Q6FpsWGB9z5LGoY35mtSbZmTayRlwjx9CCuQL8YcWnz9cqq0DPXGRYrCjiLR/Iuf5Fi/zX/oTPnXTdfG/TsaamY3AUpAn51vJ5kVma5/Msned3TpZlUTenZnPjpvm+iUpfup+f0rh2CiOH3bQrcidrSmRFQ/3a+dNTLRpg5aPehbfdttBsZl4Si/LTeIf6RiNDotfN34fxJ2cL6lw2WScNgMsbDnuvvUmf4KIRLzkAdUND5OSQXBP2JjfMqK2dIf7IG44nPh/SKug+yTjGISYb1D84M5ghE4uNvG1iEW/K5dGelvP+MG9I4z3xujcIzGdAhCEDuB2OwLw3dvn9u94gr5O7yetaWtFww5SxL1hbSbuCwPCB9Mz8h473fNhz/KH5mYTqZDVj/zjPCdxebol8SdmLsm1CDF3DreCi3HqugWvhdlGfwwKIkNlWqlB/F3BTY+4M+MBs0JtoWIYGP4QYNxccLrcroEMUiTJoNvowJKNJVFFWj6DXbMFCPrNQHyJNtxPdggFxCS10Oow+vRPhsdmCjREnBgUcRygMIX4NNaKF/eUcltrTqtpjMeHzB/d6Qq898OrDYs7WCcY5ZwbPzJnesbV25bKF2xdvk/iFbbXLlqd6yifeFL9pYjBsKouXmRZr+zV9q+ze5ibRcNXtt1eF/zMcZG3KXbSNIRYD48JAXV1gofvx9Jv3x4RdD6pJ8tpn73j9883f2LhxRiAw49JncCuv2+p27yRvW7JgcZsr+T3wXuzuvkj6TzzyyAnhFm/Y6w2npt8d/OPb732wUFRo1puqGdMI8mLsfKUDhhmeuR6ndlF4RfqpCUR/YMqk0CAybJDuY8FeuHUBZmD1PsGX78x3BnDzAj5pII6mLtUi1sVizP7EJBMatViiRGiFDlbEcAHFOIh5R30S0pyMUylFT1SKhD2Ab+qVcASl7+pB5obQRKHe4DNRwvIdaK4KqN9KtMfTP7UWOtAncFCA9DvG+rwR6ulbP4ayWMf3qrXJkzTNaBaM0mQUub9Pc8SHjqFJKTJ6thtS5MfRY5S03rhTI+1x7+nYINjoKYbUzHrpWZaPop2+D7N8L9YNiF2szo5ZWi52qZ2ZOtNIP8mEbq45dRm+p9X1SgOSKd1PGqDltMPfr1O0eEWZx3jmHMH+HDBhsKePA7Q3XVEpC/CsQLV5bJpKUOamXL12CrzUrHTgI7mCrb5DA/Z8r/ZOtcQR42u3fCyWaJeaY+FoNByjz8RioTWRoCcC4x/JJGWEdrOzAty6DXKp9ByVwmywgBNCwhtwoU39tI2cbxO6YXitaoH92xnWeZd7V74qX9VQBcaUoxg14DeUCKAXBn8MjvMtLefJ++QUef98Sz/cc4K/Rb46WtJyHhw/fgfuOZ/6M/mWkKWd+7A9pDEUjYuvx74hdj6p0NkxBDntws6dF8i7iB/fpSn+r3Hqr/GBOIOqA43Issa2gGmsV/LeOD0hG9c6E5fH0viCrkuQQCiVBJgB2SCBMRuMIAwOEYw110A/9K+BMJmpDlFSfJTEMHZVOx8gG+QnSNk88rSqDg0hPo3Nq6eAagmpUO+hc+J/AG9pZzOjY2EskybP915PTTJ9tTvOkyIWJocS5ZYHwI5x83CqAG1TjjCIvETGsv2kZyANXK4W+5t1NDBQqDyGwZg+Y8g3WeihEDX+ITBLZ9tefbXNXroFQU9P9sk99Y8+2vNoIXnVuccgKLYXiqB2ltLwGhl+NWtL8iNpYP8P1fda76xvba0PzsZGZw3iw9iEGkLohE55muyhtpQxDVmHDLSIvbDmPfIcOfgWNJDnLsIaaDgnfEiz95HjLPsWOQhfv/iP5YGzhUFXDrZc0JlvJA8wH3SftLV9Qr7E598QhLZPRtpgjIlWBZEijmfhSrkZ1JqPRyrsjM9mzgefOwzpzTNbEGOyJKodRUDa4UGMYhOSEy9xz0TFnelGrUW8JNalT3A99DwXvM8ODT2bKvitYZGXKqx3kQE+Bi+Fv2PwO8W4Lm4Bt3T8fKpgLOaWWOSid7JKCMs+zCPoK6ZJCv74ND6Ua86WVVWVJYbLqlhCyimrSnwu1qUuo2eqKkvtgg4+y2oLzl3qSbXMibjMACBMMtjdlY6ZSzxTpbMMr8jHNBJVZWc1ElVl6zD4rUu0I6VdZVV8dELJ5n9+aNXc1GU+iisrLhbzPK5yu4XCQWhk7j+NbTUd+P/Etg3/J2ybPWYN15/6YDw5/tw4g0INf+MNY8576KVFJXRoGr9cSzJM+tU/eMU6uv2jN4t30n1libUiJ27wEj9L4wMmb2PX4cSV/MP5Awsk9X9vnqNzu8Gc1EL2Eu5QO+PomAWUiRiTeTNK/dQRDOaByRk05kPbn48hrIT/AXqgRaEY3o0I3RCOoSHHaBW9Mj3uGqal6PVHalkw0ciaxGkZRrVMBrWzmAmcAcelozpRqQIOLt+ZnRmWnvawEx8933vmyacGyZc/B5lvEAZJTqIdEZwXLe8ADaOlge8ePk/++HvyPP9Rop3aYqoCWDMsDKq1pP/G42XjkJwzH4FBGnGyTzYsKVeegRqQf06+HHzqyYRHGER33i520e84qRY6Ih2TPA+rfg+W84eTTyKOaUGYhGuloTuFgdp5U4ydnWkYLRdHzmfIJCAhOpO0UwE6Hr6UPsSR7dQ1anoEa3HeR7U0Ocr3inVUXg6lfiZE1CZ6aJv6Gf8YjYy1GIxj/Bs/DiIZI5omIxuA7SO+hFZGR4ho/ZMrNHr/aHjNd8a588oE9p2RA7NOKaUxjIteTkq6gp53ya8sX06GQiH/+ru2t+6l58pv9nS3Pya830M292xr3btv9/b1dwVCONJpOE0uLF/6WLtG+3WknZWmHQzh5aM0HYpML3SWkksH+di6u+dNytm9rS3r1/tDITK0XHgfB1i6HKaTMAmDNxS4a/323fv2tm7rgacYvkCgGJea0b/oMMLjwCQrenqSpy+nX4tsZpGdZLocUvPxR2MVFY8epz5E7WQ6IjU/dsGhHvHGpk4Vyh0XHkPPMZkpGPt2p+luFot9y0aj3pIRPaUJZjZ5Pfs+RZ2GlfIcBpk1FgbYS60VWjM+LE4T4PVUIqZoTLUwAJr5QyudlCce43u1BKINjf+aDcnEAtSOcBkrMXrw9FUbL9eMnK21jBy85IyxGHupCIhdVHP7BRs9j6LfUMcYnVPCYBpXUdQnDbCThiJIuwvc3xB9YEwcZl7UJJ3b031uf6pg/7mu3fKBzbPLK1578Nkh4ePc179DT2j2nNVPmbr5gHFD89Czs7Rv2zDM6FrRts+ne8y+PsjaxwfJUBEWq6FcduSKeVAklaR9lrD7zX8/8vj6RXqDXBC5o+MH8fHZD44c3Lp5cWjSJMlQVdvw4PfHZ/lc9slIGghF7703Wjg17VTH5VIvpV1SlnVV3Z1fKx+X+4R9n/pf/Yhx+gB42mNgZGBgYGR0T+zZMyee3+YrAzf7BaAIw9k+VhFkmv0CWJyDgQnEAwAwhQmxAAB42mNgZGBgv/D/BohkYACTjAyogBUAdckEZAAAeNpj+MUABkyzGBgYvzAwsF9gSGHUYfjOcAJMv2I4ASQnMIowpIDhSaA4SIQBikOh4jDYyzgBJAMBzApMeyCQ4QRTBMMNkJlgeIJxBRBPgOtigJMnGI4BVUJVAQDwryGbAAAAAAAAAAAACABiAIQAsgEiAXYBkAHWAhYCegKwAvgDRgN8A74D2AQwBKoE4AUeBUYGCAYwBngGpAbiByQHXAe+B/AIUAkSCSwJUgmCCawJ1AnqCfgKBgoUCiIKMAqQCqYK0gsSC0gLZgt6C7gL2gwSDFgMyg0sDZAN0g4MDkQOfg6yDuYPFA9CD24Psg/0ECAQfnjaY2BkYGDwZGhk4GUAASYgZmQAiTmA+QwAF7ABHQAAeNqNkE1LAlEUhp+bJgjSwkWEK3HRImiwMUNqFUQtihiKml2gaTpkH9j0sexX+JvqH7XsvXeuQ+lGhnt4v8655w5QYUoBUywDJZ0MG6piGV5hjQ2PC3TY9LhIgxuPV/ng0+OS9B+Py2yZmscVaubI4yoNM+v9Yt3Mer9pmiknRJzRp8sLIxJueeJR+IIBQ14Zy5mwQ0BTX5sDrjgl5lxosWt7rm8xUZ9LXItNpCfOr/+7KeJSimV/1ZGSqZ/3lncE8vbkPmjqvWbazJ3UsSb3CH0mVLql2l5i91i6fUGkOpBvd+87lChld03Furrx3Sef82TglOES74/FetrUumn+mmM5idihm2nV0NVd9rV/RzVTQvdvWr8r+1V4AAB42m3Ox1IWQRRA4Tk/KmAgI6IiOafpDAKSBMsXocqNOx/N51OBw86umjqLuf3d7gbdw/nzu4vd/873fx/dgAFDPOM5LxhmhFFe8orXvGGMcSaYZIppZpjlLXO8Y573fOAjC3xikSWWWWGVNdbZYJMtttlhlz32OeCQnkAkkSlUGkcc85kTTjnjC+dccMkV13zlhlu+Df/6+eOm7/v73obH3oU+2GiTzbbYaps9ssePDXpBL+gFvaAX9IJe0At6QS/qRb2oF/WiTtSJOlEn6iSdpJN0kk7yXUkv6SWdpJN1sk7WyTrZ+9l3ZO8X/xf3FOeKe4rz5WnefdV91X3VfVWv6lW9qlf1ql7VazpNp+k0nabTdFr7C6DUrokAAAABUWhUlAAA) format('woff'),
	url('../fonts/dashicons.ttf') format('truetype'),
	url('../fonts/dashicons.svg#dashicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dashicons {
	display: inline-block;
	width: 16px;
	height: 16px;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1;
	font-family: 'dashicons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
	text-align: center;
}


/* Admin Menu Icons */

.dashicons-admin-dashboard:before {
	content: '\f102';
	margin-top: 6px;
}

.dashicons-admin-media:before {
	content: '\f104';
}

.dashicons-admin-page:before {
	content: '\f105';
}

.dashicons-admin-comments:before {
	content: '\f101';
}

.dashicons-admin-appearance:before {
	content: '\f100';
}

.dashicons-admin-plugins:before {
	content: '\f106';
}

.dashicons-admin-users:before {
	content: '\f110';
}

.dashicons-admin-tools:before {
	content: '\f107';
}

.dashicons-admin-settings:before {
	content: '\f108';
}

.dashicons-admin-site:before {
	content: '\f112'
}

.dashicons-admin-generic:before {
	content: '\f111';
}

/* Both */

.dashicons-admin-links:before,
.dashicons-format-links:before {
	content: '\f103';
}

.dashicons-admin-post:before,
.dashicons-format-standard:before {
	content: '\f109';
}


/* Post Format Icons */

.dashicons-format-image:before {
	content: '\f128';
}

.dashicons-format-gallery:before {
	content: '\f161';
}

.dashicons-format-audio:before {
	content: '\f127';
}

.dashicons-format-video:before {
	content: '\f126';
}

.dashicons-format-chat:before {
	content: '\f125';
}

.dashicons-format-status:before {
	content: '\f130';
}

.dashicons-format-aside:before {
	content: '\f123';
}

.dashicons-format-quote:before {
	content: '\f122';
}


/* Welcome Screen Icons */

.dashicons-welcome-write-blog:before,
.dashicons-welcome-edit-page:before {
	content:'\f119';
}

.dashicons-welcome-add-page:before {
	content:'\f132';
}

.dashicons-welcome-view-site:before {
	content:'\f115';
}

.dashicons-welcome-widgets-menus:before {
	content:'\f116';
}

.dashicons-welcome-comments:before {
	content:'\f117';
}

.dashicons-welcome-learn-more:before {
	content:'\f118';
	top: -1px;
}


/* Image Editing Icons */

.dashicons-imgedit-crop:before {
	content:'\f165';
}

.dashicons-imgedit-rleft:before {
	content:'\f166';	
}

.dashicons-imgedit-rright:before {
	content:'\f167';
}

.dashicons-imgedit-flipv:before {
	content:'\f168';
}

.dashicons-imgedit-fliph:before {
	content:'\f169';
}

.dashicons-imgedit-undo:before {
	content:'\f171';
}

.dashicons-imgedit-redo:before {
	content:'\f172';
}


/* Post Icons */

.dashicons-align-left:before {
	content:'\f135';
}

.dashicons-align-right:before {
	content:'\f136';
}

.dashicons-align-center:before {
	content:'\f134';
}

.dashicons-align-none:before {
	content:'\f138';
}

.dashicons-lock:before {
	content:'\f160';
}

.dashicons-calendar:before {
	content:'\f145';
}

.dashicons-visibility:before {
	content:'\f177';
}

.dashicons-post-status:before {
	content:'\f173';
}


/* Sorting */

.dashicons-arr-up:before {
	content:'\f142';
}

.dashicons-arr-down:before {
	content:'\f140';
}

.dashicons-arr-left:before {
	content:'\f141';
}

.dashicons-arr-right:before {
	content:'\f139';
}

.dashicons-sort:before {
	content:'\f156';
}

.dashicons-list-view:before {
	content:'\f163';
}

.dashicons-exerpt-view:before {
	content:'\f164';
}


/* Misc Icons */

.dashicons-wordpress:before {
	content:'\f120';
}

.dashicons-jetpack:before {
	content:'\f131';
}

.dashicons-pressthis:before {
	content:'\f157';
}

.dashicons-update:before {
	content:'\f113';
}

.dashicons-yes:before {
	content:'\f147';
}

.dashicons-no:before {
	content:'\f158';
}

.dashicons-plus-big:before {
	content:'\f114';
}

.dashicons-plus-small:before {
	content:'\f132';
}

.dashicons-xit:before {
	content:'\f153';
}

.dashicons-play:before {
	content:'\f148';
}

.dashicons-marker:before {
	content:'\f159';
}

.dashicons-star-filled:before {
	content:'\f154';
}

.dashicons-star-empty:before {
	content:'\f155';
}

.dashicons-cat:before {
	content:'\f174';
}

.dashicons-cloud:before {
	content:'\f176';
}
