@font-face {
	font-family: 'dashicons';
	src: url('/wp-content/plugins/mp6/fonts/dashicons.eot');
}

@font-face {
	font-family: 'dashicons';
    src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACXQAA4AAAAAPPQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABRAAAABwAAAAcZ6KS5UdERUYAAAFgAAAAHQAAACAAlAAET1MvMgAAAYAAAABAAAAAYFAJZqFjbWFwAAABwAAAALgAAAHicEJVMGdhc3AAAAJ4AAAACAAAAAj//wADZ2x5ZgAAAoAAAB7SAAAw0AVCG4NoZWFkAAAhVAAAAC4AAAA2AlN2iGhoZWEAACGEAAAAGgAAACQPogeuaG10eAAAIaAAAAB7AAAA2Dq3LtNsb2NhAAAiHAAAANAAAADQTGxYTG1heHAAACLsAAAAHgAAACAAugB0bmFtZQAAIwwAAAEvAAACdDPXWnxwb3N0AAAkPAAAAYwAAAQQ0ERe1ndlYmYAACXIAAAABgAAAAbj1FGMAAAAAQAAAADMPaLPAAAAAM2yW8QAAAAAzbKUUXjaY2BkYGDgA2IJBhBgYmAEwjQgZgHzGAAIrACZAAAAeNpjYGY/yDiBgZWBhVWEZQMDA8M0CM20h8GIKQLIB0phB6He4X4MDg8YPqmyXwDxgaQGkGJEUqLAwAgAKBcKWXja3Y69C0FhFMbP696U0kPJcMtwS3dQBhnERtK1sJhsZDIabRb/l9FkYzKYMOF5ByZer48MJrNfnY+nfqeOiDjyqowoebC2ST2zKzM78+LbLb4RxpiixyxzLLDECutssMku+xxyzKlWOqY9HRgjYm1hkmn6DKxdZJlVa4fssMcBR5xo0Y5Oat8Y30m4uOGKC8444YgD9thhizVWWGKBOdpoIUTt/eHPqKh8TlTEtsi3IH/PHX8tRggAAAAB//8AAnjapXoLfFTVue9ee8/eO4GQZDKPPXnMZB7JDJNMAswTGGYSIIhAeBhA5xwNKhkMxIixKFJNEDFQfEGkSAGptYqItFq0SI+Qg/g4ntEjlkMjPkoVba9N0XrrubktJDPL+31rzyQTUM/9/c4ka+/12uv5Pf7ftxYncvAjA3wvJ3ASl8vlcQUcN0lr0wo6m07REttYotWRgcGD9JeJg3QrWXIwcZDvTTWQB7lvaN83hKbe474hHspz33CEy/pN4jiei3Mp+ag0CG0GOC6XD0WJUbEQxSIESYjIkr6cGPVyPi9L8LDwURIKhqJ8KOiFfK98NPVVKrKzeN2OqTVPLa6e1tx0S2riC6nIC2Zzm9lcOqvVOMPhXzRRvnLlbbf57b5xjf4y82IoWiz2pL7iX99ZNs7htGyuNZXZxpEU/wL/+guseIm5NHhl4SSH/7bbVl4pT1zotzdoV88sxUbZUhAPl5Dq5RyuCBI2r9Gg1UvVhGhtdmdA6w+SAaG7ae3apjjNo30QkXPWNqUamtbSPDKwtonvbVrLwUr+A9r4UDoD65nP2tEqci5x5ZJALq+1Vdq0Nql+d1vqh6kftvFfk56kiY/xsaFFpIf00A4pn3bsbuN/xAppRyJVwF+Tejb1izgZ4LDtBLdTbpencibOyUWh7VDQqhgLC0g+cZE6EvS7nPYCQpxBkUh6xRgMsSwplxilAiJZXc7COhIlCq6+YvSGhIFd95AV69ev3930WRuRGhvr6uperJtPnzdPIcHUF+Xl9piFN+KLvkBEy5SmXffQvfeo1engrvp6qC05dq9fj9m7mqZYiDi/EfLq6xvp822fbU+dL//nciuPbeA72U+kts+aoP56ctN6qG+mg7vrXqyvq4O5aYBe4jC3dk7HlXJupBmi9TuricsmO+wS7ITRZ/MGOa9RL9mdftGmZe+gz6tobcJIIiDqw+5nNtGOTc+4w2G30O8Op+pPbd9+artwhAzAa/tKpZT2JdIxoZvvdYcTibA71QD1+V9j/inN0Ocr8RORXKQd9Ek1vorjh+lDgN0FCtHagDYMNq1UnzQJ/UOHBWvSRAZEPe0bOpwQ9Rzbs/Pc59KfpH4uB+ZVAZxAgsgHQBNAUXWEyPnEYZMlu8vpD2XKiGAlDSXXOV1FJbQ39ZvIxGuFTXd6v7iRdnZ6Oj0ej/AKaShOF4s/hqo6l/NarPoA6b5hYFJH8u4l3hlQsbrLQy5AcRErPobj4YGG3pRSUpIzcDYcjVGSJY2L4PqFiLMoFKxQINMbYsQEhCKeJhb35OYW+tVdqT/OPb1jLv+Q39+yjGjW0k+S/2ZZYrZYzEssZs0LpPyOb5pb/P7U7XN3nJ7DW+4iRS3LJnvoJ0OHzOZ0PVgP4iEeOUfaB3KhmpvN+CwIzOV02NRdJj7c4mpiwC2NEAfuaxjXCtgxkwpgypypyTY/QHpEPe744JfwJC/HMR43V5mHI2TgW/I8YbfmEKaGFrnDfCzcFN5pMJsNOyHCOzFGn8zOS32EMSYruB7uSfkKOQa7CnwYJS4Qak4JWVGRYTk1sJSQZwwKT8+bpfMf4Tt/s+C1WfMadP7ffE37g/S94NsBonwNmSI/r+G1hUdSm474dbPmzXp14ZGv6V+CbwdJDVT4L8gEutMD3fUC3Zm4idC3vVYzgTijgs8LtJIvCpXwNpN8jcNey0+AxYkSn8Z43VVBT7FWECSpuu6maOuW2nyi0ZqqA+tJ4e2/6yoIPL3vsxU3ffr8Iy7X7f95l8bnjMyZE9HpQje3zKtZe7BZLp49fdEU+ucjm0/fclEscFlMis2eN/Zix7sbVdkel3NgPC5uAvKpQ5Jh0pJssAWcLtkVcrocWl8w5AopwVDAZjAqIUU2Kpw36HfaJb2c81FJaM/pPbFW2tca29O3J2T66ENlCuQsbSceljNFSY29cOjQhUOaOfT9m6+GIqjzkSkERbFW4l7RDDnB0nRO8wo6/RDWVuk7ziVku3wVyF7YGZ1K0hpjEY9kLoiCDYYRYOOIC6WzJ625gfCEnJg164YO+taWY/S9nbRP8/TqBQtWLyA9AnmQ1K25YdasE5TSb27oCNTTl8rpQ5oHF0wOQY10f2S83A70rEXu1vmCRRU+r0aRa4FYJdlHKh35gsNe4QpZgF6DIQeJnzK9Rmqe20O0y38RPdr206/t/fRJ8eCporuP/O+Nj9G/DeeSZZrGA6To8fUdrzfd8MajtOON9X94ojmdIj0oMxMwV5WXioGb3ZdzE2fVKJLGWuEKaticjV5iAIkVsAWIR1zH+GULyr1ppIn4776bvkOfp+/cfTf/9Np9a9fuA2XhGdwCHDugStKwO2lyh4Xux7dufRzCOawD2i8OP1yLcVwCeLsd6KIApLgC618OFFINNBLiwlwdcPs8VapnRocSHSQoIA0DaEY1ZCS8AoSjg7LsNJZbs9JyO4y/AsclnnWHBytEfbKT9sF4e0aeQ7dUmYHTE6QnQQaGcjMJPja6cJT4EOagMiaeBP5onxkrzY7HIWsAdL0nk44nMjGO6Ya4tI9hB8u3owfgB2AO4BQlBEiiH5FEIo0khPr44GDmH2FF8lwGVgjWprXJuVnFqFM42PdT0JcMK12O6Ern0LlIEdvgoJ+IlUbF6bBrZGeFwy4H5VNJU8pYm5i4AzaxKYxy7Fa+hq/pMPndvfTV5mb6au/4gElcBxOsGjqiuSOMS8fmRvd98smjL8kv7937svwSo3fUgfJMeS2gRS3MUwEQh1toAxEIuA4k3+6HzWbaNHRYU33Ysjil6+OLt6b65djDgMDoVckp4tnDZpKcN5s3bU39mQPcCT+YyymgGAcXA+5t4zogq5CvJRVWTT7hC4ssBCg4SoCWjUWFPJKzE3KDuSh2nbLksLuCjOeckkEPCNOoGEF5AA6KEoQ7rIYTBKZkLCe6XBLVuKCczyVOPuAnpQRK5VMrXv47/S09Sn/795dXQJxMIleQSX9/eehNsprM/3rr1q/pr+l2+muMkQj97Sp9vs5w7xKbbjVZ/u4eorT7mxVjiSh466xW+rXBmZOjL9DrNy5xrHJU6CG6pIP8CxGFHGOuPGbZe4Nnyfq3/y+/8Pf/646uVmGW2tWKS4YgXjOq0/lsIENuIZDD+yaQMWT/a6tb5HlzzdPHu3PEazZPO9fUxH9FcjQCH/KTsRIvkECI5NBTqTL+Zbm4qWnDlIO/+z19SNg+1N9CfvTFr5ML+K7UtipcfjFNu+1AWTI3lnEvV8n4MgA7OxJQZjCUcy4T+FjqAKiCCxfEdcAe6X9VLi4lPbIo5wPOqAY6ceVrFJSAIRC+rlpQlUWVl2cJ055a/tLjt3gLS/548Cc3Lr/S+9yc4nc1i74lU6r604TNh09e3PC7ZCy2c+N1dc7CbWT6Vd+WCfMbxpYaQGF5XCHOLwTzy0XBgwgOJuomWgIzSR0AqbBIc0gNOD3AYgNQMLQodUA8G6d9bJJ5CMj5LMzqhDmCwDcDvztUfvcxETAsB7Qkna9pbLrqfkCgyP98rGktBpQEfXF4i+u2zv0XlExrm8gA5tMOCHkgDIbzgF2g37dZv7kgc7WwwsWcmbOC9lG7hE5Eh+Cz6RxCJqhYlQB6dYcvXAjz5ngiDvItjmIx/UiCAABhP8DHUKxefE2KusNx7HYkwN73JzsFK+0A/KPOPY7yh1QGAY7BNK3OQobIRW0+TldN+IP8Mc2C8eGT9OOTJx+ZMz/ZWZTofoRFJ0t7E1JddWLoK0gT+0kHvyaR7N7wSxYXwuMDWXZBAbMMpuPOZRZXL4EmcYZgblxGu2m9Fk058LjXwpcTf1T2pSvF5/ilfP+cOf6L/+Wfk8CZ8r1Mx1GLe/5Uv6NYkjSFk+tXdrTO9I3NI+IYg7l2atNEVeN9OvLpnHtATG5kii/VwPd6Zi9dOttozHO3LpwOisOgzylpWtTevGxmFX4XzuAR1Ik6hhSzxq0SSaWNswYLnVapUDxLnJ5o1HPxHXwSJ9Ng20nj+fP08HmpPuoZaqlpaKjR/NQTTQx+eV4tQF6ToI+dw7aTA/jNB/qWA3lp4fX5PMjLWt4f5YvS+EtzyTujYaX0Wygle8jUtzb4/Rveom/Sm+ibalzujMU6Y3xJ9islsdcrTKvI7TPXPHv0s6PPrpmZiaQcMVYh6z+1kb06wvgN2Nw9ZIDpzbGqRZX50xxCZUv7kNVA7ugzMWA81Q5Tv1HgK5/WEWCMrPUJPoPD4Ag4Ar6ATzyLyjvZqWkETZ3Af1GPND9YIXSTHpbF9A9gllOAoUZkH7RZTFTphyMSAS+JLB6wyacu7EBxB9iwP2lCjADjBM4YrGC5HiQsoT+RamAdJBKpAwmUPxwxQR892fI10wPOlVzSOrataURXy9Bh1q4pq10QHazV/6Zdkm5Xm92uFVsGqQ0tf0+7/Kh20y1qoRVYOfiepAUFQlAOTFU+Jq4T17GvtCzJx0BE3AJJvhfKzmoOsTIbJDFfcyh1IFOmH/5O1IN4XZc8R36slvWKZ8GAVr8Tz2I+fvD9ZbKKh+WpsA7lDHf6GPLkCCMOW9psVN+iAbFShCALZMdxpjqgKJIOwJWeiyeIB4iW9MAj2cmAkZnvVd+q2IStBiHKgrQvPrgF1GE0FovG2XMQjcbRj8E1Qre6D2qAecX4FqlSPIgUmUsU4iAh4S1yZnPqz5vp6c3ovFiWUsgjXWx/PuA+kC5IF1RNRrxZuCjgL6oQiFbof4LYT3d2nqYf0xP049OdfWTVL/grpAsjOZ2nif2J98iq08n/Q38o5KR9Awlm1xWgrLoUb5EQ82PJODqGWsafueeeM/QDwCwfYIz/RwLVBDyAlJAp0BrIya5BxrOvhm5OoBdgVG3Vps7I+lzEtCKiNR1sOFYGvB7vSB1IHbiNtoh61MvzqDe1Crvhf0Le/R99CzIalR6jKRFX302IjY+RAdhbPc0T+mFvYJfY+qDd287lM1vPFkUXRCECUFlryyVGX9q0NOgV9ANgOiEczT28afPx45ttlW2gP2OkYeLE5vvuO3pfKT3u2FQkyNYXpPpHHnuFDhzPaRv6I2x0g9J9XXN3d3NwEtR4o0hzt+qbPEAOSOMlN8pJtgmwFbAhiqaXXPN7epDueJe004MfkWtI+0nhM0zeQp9lyXfpDnL1R//9/nLWKCmsJdZ8Umj8tv0lM0nh55s3f07/Bs/v2NjNnw/XQV9PT9pfpgA/1qCkHq39mF/HajQAz7Fl0/lcUZJeQaMCPJQxOcPuOOo7AGc9oHjjiQrXBGDFCS5NY9px50Y3HvHsP39+P1IVIqek6f2iOR7kP8+coiwMiFipkmvg5o8eT4Rk4zYRLc8sTAFgIir5Mm8Uhw72nVT/RnUkUj04UB1hETGvOjL4paYxdYApOZqY3OQ0EkKEcUU2V9g+YZ67TNTwOWZrcMp8GDmopkh1coNUrzYRqX5DbSJSfQMYUI00oSrZA3wM5lFerilwO2ttCgMaYypWXr9m8ZTkOdqhaUxuqI4AWVyClcqZf8bHbG8udKmfDTSmM63xs+NF6Tfa2lJWnEFHwIUnmHtN0zh0+Gum9EEDDsfDl+Wo8XjYPfK1VJ9IsIr0F8MR9cN0MpzgsjF7QRrVuL5tDlobf9m4td851vB3jwnXmBWnStVaoKTQzsYxnAKb3sCZRuMTpreVXN4mEhvoiB7aAVgDNgPwjAfFThyTzI0wgJmg+frUN4N1HawC0jOYE1za/63awWOgNxNXhvYEEGPAzhkcuZmOmaWtFSDwva9v29VP//Yikfh2oZ/mgR7vFqxoviCSP3v/7tP0L3+gz/F/HNyCIoz2Cf2pBgRRKP++vT8DED705fBzJD1DtV8Rg37XttdJPZFepH8bXCn0C93oGMLuiAdUmUnol0+d3n0/fY4s/gNRBitAl3eiM1xzCJ6eBHYJfeJ6noI9HcvORgy4omnVjF2AOgccB5OV9jFMtQVZWVwHw34SVnQZQnayDJkmgcZnAv7ROx+Pp9YyKJKeE+4XYqF0+1pk1TQ21DoEba6gaUTLVW1jZzw+SDuEfnb4si/TI2j868DS/ZzvpU/SJ8kysgz0S4I7LY+BsSPi1HrRy6AYC+VKNF6d+OdA8PPO0SNbHpi/cCE9Hwr5l9/Y1f1w6oDcTs8snP/AliNH6cqjd3Q/vHVj1/IbAyHo6jXUeW9CuznpdkVnYSiIfz6wTbV2WcI/g56vpucXqk28g9v3cHfn8uX+EJl9x1GyS+2RVNEojRJPKHDj8q6NWx9mOA5AEZg6IH8LkXortbXoObeid0QG6SXzzFvktAvd9z2L4vXZ++LenYz6E0Kt/cwDKE0fOGNP7fHEy0Qb4wrgCZUvc7I8jsaMRGfueZSfALLIMGdWpN8AC7szAj2BEeJxh0HBdiQ7O5icE86qpkUvjsEt9LMXYFPakWU+pO2dEdmg+hkdGet3RLvoGOka2Jlb5p0tGR5mMJY5CRGMAVF0jsSZDYy1mJS4eELoj8eBYxP4SGMVRDfiWdWqgx79wRA+wOJlsMCgly14iCEeTJoeOXloo7R95aRa7ys/2H++YNORk8Rz8pFNb2hLylZu17WsO79/Yij/zR89cpKd8ZEB1q4Z5PZM6IkZtPkSc/pHxSJvVFNHaiV7vqaAWMSKtI4SNr7z73seXD5HWySZmq7t+UlidPLTPTtuXzk3NG6cWBRpaP/Bo6OTfD5zn4tnQ7Gbb46VlqVVy6hU8qW0qZtjXtx43YzaUanPma8eZPYIvtAxK7QeqO5SmQ2sqDAScWjBWIMwsmMcs4ONVkGxqOc/uKijHNXizwe3/EpTUu5Bn7OnfOjzco9HiKGBDAS8f36oAeBBQygRdo98I55lcNxT3gXbR/u64ItybCHFp01rvneNKR5ByBCJm1Qfp54QqVc6znm4ybC7xiJZdStm/uR8Iksq16f/pAoXsm6FRggWupxWWSpUjFbN8Qedq4TiHPuEqCZim+SoUIwaYcbESV6/3zfJ5uFrrCaTfg/dtfGJJ9pIKSl13HRTK/34ptbWm4hdqn2Q/vBnglEqtVZramyT8OygZuIMQTAanI5JtmlCXa3Vol/sv/fn5K0n2ubNS5W0Elsr/Ognra0oC1EwS/uy7Fr1vDI7eFT3Fj5VT54aB8uTQQ6Qt+wN/JYAfJwDttooG5m1ARvohi31aX3D3kIwydhpaCIB1iIK2cTQYbUlDKCjGjIppv0SnDR8rloAMruc6fpqVbKo1poPkDZYbLZaWBekn7TfJ8tKQyvcHR78EoWKdtvhbfRe4ilcunwpvQEhYrITJE4cGFYNUj3gScCWV//gB1dXT5ky+CpatSgQsuyxnGFaxjkXpn1sNkCOXCjtEyC29KmzEgB2r0QvAeamA0zo4glQIotwI5C/OuPo60MMkAlDi6ASjCt1oBP5J5FY25RAVwX6AtHRGM9gdraPEtNnWjT2DKJNP4LbK3xC/zYiHLsVDcpbj9EU/Yymjt166zEibAPbhWVti2/L5BEL1uXS9wlG5jgWeXWEOkALwiBxjzJPNiOEToIVvgX7yCOelepBz5bhquA3qivX6Qoginc5BSAOL3PGCxABgSg5hNN0M3nzt3eu8/nXLL3pjjWf79xyi9+3jD7xgc97s1Q/+GW85cX18xpLcwt23v7LBQtTKWKz2uYuuiL1O9L082urq8EOegfoWgP9or9Ihs2XbSEfcYQkTfQ92t8XTTVHzxDTe1FY2WQnkGA30lcP44V6Nksds0YceI7qREeAHo8ovyvOx5naiQvdQycuj4l6ppLycAsvj7F+S9jeoZ/WD7KklbtZ9VfJCmh5WYQegMAdAVXpMze4Q9X6CoIAtniYLCCVWDWgVnJCHbXcwE7KM/XADnW6DMa0R92JJ2S8Zsmse8fX5hXxpAwg21+J/pe+yfmG3DGF+dMcZqO22FBaYzIYTEreOEnOGzuhhWyDCT41vliprKxbEBpfqtMbpnomlpf7TIreUFVqKS71Niyqqi4pPoDTJz2tvsoxRVXPwryfu0Iz0a8rUZQyGwRJyMtTgrqxY8bmmQoKCrXjJsUrgahv43PLyipri0vGTysS5dpy04y8PLO1oCBHHjfXaLOFx5tM16t0TypIj/QR7JmeoQxXPs9ffoBwWZ7wswfbju24Umt8/ZENSxZHqndEDb8SfgV5P4a810byxK7XfXv/g6a2HH5/3tx7b5sfsOXfRYpmjc4MWjHzO2TppScjABs6mTct/RbPojtN/ee+s43sgLIRLIg+Bks8I/FRLf1/tCNYcQw0T/XSjcRHtSNe1o4uY9+ABE8HVUuo4wFoNIBSAPkeTwJYi0AAgKTxh7YOO8pLy5RCzsI5uancLG4B90/c9dB2QFIpNOBXKVsJOVVaB1vf561UfIJD8IVQoQyLkTS5y45AhsQrFQdwCqhgMpzlYM4QIr1hrXJW/FPNhImTllQ4SpyOBddePWO63f5Qd2zo9LSV59rOtU7lV7344YrJky1l032lpaHg6uuXNpjLzWWpjyc/HwRTblwO2dZSb7day6N0TByXLp48p3l9yZjcnCnBjlXTpo3N0V7lqqyc3XD9o48/tx812H7yYupAradpmsORp8l1VPgXVFRc2K8rqq7V6yNP7Z1ek1tdQve+oii1PpOJWuJgilnjaAyJ7Kwcz+5FtvoGhiNlXaWsBX3qEnWo50SlUlDcJCSIIS0f6/qU3t8Fiq6ni97/afLf+djQ4S5y56ddtENzqOtTcmeXtA9LunCXMJ28iLE4+yxdkQNNljmPyNblpcNaN+MzrUM8rbWhrlMAplVeEsi3lQHGZjg7nWbngnFUGqDT8DA9Owxu+fZSdPrjERMAh241D8/k4ml3evpAPtkZ53szGepbxW0DaO8AdjZyJagr9RbBGxUCqq8GIaaARD1QPL3lZ4mft8woSTy0qu3RBOPYs6mXInfe3Tx1yrV33RnhF6b+bdtjex/iI4NfJtg9i/ReDfOcjonjkcB040hgRw8dI4GNjQyIf2E6aAyMTQc6i/hKeZvmX1cfpy1Qq/fmkwfpq+gnQB0L4GwDLRm+4wH7JYIOceD9H7CtAF9Y06c36i05BXJCWffkCHDTWAIMVUp8Oj5JPiIS2OH/wWw4oTvs3hMcWhR6jN2cAKBM83Ad46dOIPyAbUPswezAIQPejqr761dR9YZUWJiTasAtAss4D9+jxlcAOKAma3xpT17lZV4/maEndmbju2Rw/KbHhsG++7GQ5hBeuADh4kmow5pahQVVVTieqqlTq9Tx/TV1Hyx0XuZ+glQvHQKL183uJ5iJHgSEZJ/AOyOE3bEDyQFP/wSCAoiwm6he8dHVkQh9iR6e9vy0WyFK5pHGaddcHaE8v9FsPmOurjKn1mNkqSTeOu2avmum0cP0pUhkNUtg9XmRyFACKi+xnDFDXcsSqMxxWoY96tlZ1Xfz2szM3Rh2NwdFsIGkuQjRtZCOi5e8v69Mqkf/Ehq0fCx5Lg5oBXQ0Q94JNQFMNOr9vYWI9eLxwYp4HEypOJ5/98RHfpck03dpmX5ZzXYhUEtGBD8I7XxGAjaU72Au2cBe0upBI9gMQveS1ZaZ8ZYTx1fEZ9luWQSAedv2GXOf3g+Y9tOnn54T3UG3Ay2E4tFN//ruze3t7SdP/Cja4kskVmzafYSMfeyxn+6lF17atbENBUIO2ujDOg49TigXLJxd1Zmo4QStI5BLApVZqjxz1Jf20zEFGk+ojj2Mo4GgKlW1HNWhVA9SCDjDk0CHEcqoPPxPMPOGy2F3Htu/bxxE6/uucWgOgTzsVr2I0Fza0whZaKdkFeUx39VZtCe+YyDCsM4vANqLsFs2FQ67RgIrwqjxeSuIwYGbFBqBma4sECpLQtrBwTLs0r5eevz4sF2x7TiZQa/YazLOiOj1ZWW+WEf9fdvXXTnbXLokVFjw41K/b0JZaWnpDUIV6SQzj40YKsdIj6N6cpXLW11WUlFp0E3ZMHfq1Btn1NRExitGeqBkgtdbUjJxQnGpeuaZ4A9LH4gKIIuF3D9zy7g2XEWjwmBvyKCCYAcbYTUJOBSHyyE7QoAgQj7FNwwaZJ/qZvMqstOl4hBbpexzIZ26pEqDL7ME0IRBVBEJyItqIu2jH+Y6amLj7bbxV8TuuyKcu6woNKXl/YebW8N/mrqyufm+5rbrXnxhTTRUykv35igV0fprmhsRj1QsnujIJZVDpqJWAz9Wk8fnkxfvdBWXWSwz6fXPkcGV06zlVkLICeHI/KrJsjxuScnCmR3WCYtqawYHn3lmMH7x4qC7Yr7fIUjRibMdlc6rxuWNDXtmBoMR0Z7nHhMOPyUU6CZU6YroBUKeUUzeWoWwa/mqLauefZSB9LFzQW4KNw11/PANckl21fHqBXLBFayUieAAm4MIdUSR0zfHlQJ2q9wrhlB7iQYycn+8pu69ZzPXxxv3TS9PvY3e2QSiQ8H64e76uQ+oN8cf/GIWuzYudCQQN9IOVPTS0swV8try6fsyN8gbnz1T90kCfRJqzdQ/ds364kH17vgDc+t3Y633Eyjb1J447v8B8R3V/gAAeNpjYGRgYGBkdL9l4nUvnt/mKwM3+wWgCMPZTVOCkGn2C2BxDgYmEA8AW0ULhAAAeNpjYGRgYL/w/waIZGAAk4wMqIAVAHXJBGQAAHjaRU6xDYAwDLPLwAMcwMDIO0gc0IM6cwFHMKMMDIzcwIzESpIWiOW0cSO7vOAVJoB6r3dE9rghfp4Q7YkNokN8RuFQ1AIm03NVbVgyIGHEYX7ZgbMylQlfF6y696c06mVZYggjN3VP7NhnuB71x2K0TU+P79sDWsEwxAAAAAAmACYAJgAuAIgAqgDYAUYBmAGyAfoCOgKeAtQDHANqA6ID4AQoBKYE3AUaBUIGBAYuBnQGoAbcBx4HUgeyB+QIQghcCIIItAjgCQwJIgkwCT4JTAlaCWgJxgncCggKSApmCoQKmArWCvgLMAt2C+gMTgyQDMYM/g04DWgNlg3CDfAOGg5cDp4Oyg8oD4wP7hAUEEQQjhDSEQARHhFaEXQRsBJOEpQSthLaEv4TKhO+E/oUaBSUFLYU0hUiFWoVshYuFnAWtBb4F1oX9BhoeNpjYGRgYEhnKGQQZAABJiBmZACJOYD5DAAZpgEvAAB42o2QTUsCURSGn5smCBLhIqKVuGgRNEwjhtk2a1Ha0JebCDRNh+wDM6NdP6FV9Cv6HfWveud6GUo3MszwnPe859x5L5DjgxQmnQUyeidsyKua8AJLrDpOUWHdcZoiV44XeefNcYaiWXacZcMEjnOsmUvHeXnGjr9ZMZ+Of/DNFweEHNGhxRN9Iq554F58QpcezwzUGbKFh6+nzC7nHNKkIZqd2pyam3UUphwXqobSI9sv/Dsp5FRKXP1V+3KO3L5xMuGpt63unbbeamfsuZE60OY2gfMEcpf0LWtuj5pOryn9sU6qixqczZGpKT1OFurbVT/O1LEUyRVnGKlq6U9enPMxcXpW6c1xL01VbSWIu6Mk5b46kaq6PK9W9e0NVaharirZjpTA3lnpF+skWIoAeNpt0sdy1UAURVHtRzA552TA5Ki+LXXLZAM2mJxzjsWEGZ/G95He9gxVqc5AfddtVZ1m1Px7fv1sovnf8/XPSzNixCIWs4SlTLCM5axgJatYzRrWso71bGAjm9jMFrayje3sYCe72M0eJtnLPvYzxQEOcojDHOEoxzjOCU5yitO0JIJMR0+hMjDNGc5yjvNc4CKXmOEyV7jKLHNc4zrz3OAmt7jNHe5yj/s84CGPeMwTnvKM57zgJa94zRve8o73fOAjn/g88eP7t9m2bf/mXBrnl9QmM8xsdmZvFrOagzk9zqSX9JJe0ks6SSfpJJ2kEzqhEzqhEzqhEzqhEzpZJzufnc/+V9bJOtn57HznfOc9Op1Op3O+c3/nfO/33j2953r39J7vF867r7ivuK/oFJ2iU3SKTtEpOtX56n2rTtWpOlWn6lSdqjN4n0Fv0Bv0Br1h7IV9CvsU9ijsUbQL54pZzcEc7w17FPYo7FHYo0h69insU9insE9hn8I+hX0K+xT2KUIv+t/GE/53AAFRjOPTAAA=) format('woff'),
	url('/wp-content/plugins/mp6/fonts/dashicons.ttf') format('truetype'),
	url('/wp-content/plugins/mp6/fonts/dashicons.svg#dashicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.dashicons {
	display: inline-block;
	width: 16px;
	height: 16px;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	line-height: 1;
	font-family: 'dashicons';
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
	text-align: center;
}


/* Admin Menu Icons */

.dashicons-admin-dashboard:before {
	content: '\f102';
	margin-top: 6px;
}

.dashicons-admin-media:before {
	content: '\f104';
}

.dashicons-admin-page:before {
	content: '\f105';
}

.dashicons-admin-comments:before {
	content: '\f101';
}

.dashicons-admin-appearance:before {
	content: '\f100';
}

.dashicons-admin-plugins:before {
	content: '\f106';
}

.dashicons-admin-users:before {
	content: '\f110';
}

.dashicons-admin-tools:before {
	content: '\f107';
}

.dashicons-admin-settings:before {
	content: '\f108';
}

.dashicons-admin-site:before {
	content: '\f112'
}

.dashicons-admin-generic:before {
	content: '\f111';
}

.dashicons-admin-collapse:before {
	content:'\f148';
}


/* Both */

.dashicons-admin-links:before,
.dashicons-format-links:before {
	content: '\f103';
}

.dashicons-admin-post:before,
.dashicons-format-standard:before {
	content: '\f109';
}


/* Post Format Icons */

.dashicons-format-image:before {
	content: '\f128';
}

.dashicons-format-gallery:before {
	content: '\f161';
}

.dashicons-format-audio:before {
	content: '\f127';
}

.dashicons-format-video:before {
	content: '\f126';
}

.dashicons-format-chat:before {
	content: '\f125';
}

.dashicons-format-status:before {
	content: '\f130';
}

.dashicons-format-aside:before {
	content: '\f123';
}

.dashicons-format-quote:before {
	content: '\f122';
}


/* Welcome Screen Icons */

.dashicons-welcome-write-blog:before,
.dashicons-welcome-edit-page:before {
	content:'\f119';
}

.dashicons-welcome-add-page:before {
	content:'\f133';
}

.dashicons-welcome-view-site:before {
	content:'\f115';
}

.dashicons-welcome-widgets-menus:before {
	content:'\f116';
}

.dashicons-welcome-comments:before {
	content:'\f117';
}

.dashicons-welcome-learn-more:before {
	content:'\f118';
	top: -1px;
}


/* Image Editing Icons */

.dashicons-imgedit-crop:before {
	content:'\f165';
}

.dashicons-imgedit-rleft:before {
	content:'\f166';	
}

.dashicons-imgedit-rright:before {
	content:'\f167';
}

.dashicons-imgedit-flipv:before {
	content:'\f168';
}

.dashicons-imgedit-fliph:before {
	content:'\f169';
}

.dashicons-imgedit-undo:before {
	content:'\f171';
}

.dashicons-imgedit-redo:before {
	content:'\f172';
}


/* Post Icons */

.dashicons-align-left:before {
	content:'\f135';
}

.dashicons-align-right:before {
	content:'\f136';
}

.dashicons-align-center:before {
	content:'\f134';
}

.dashicons-align-none:before {
	content:'\f138';
}

.dashicons-lock:before {
	content:'\f160';
}

.dashicons-calendar:before {
	content:'\f145';
}

.dashicons-visibility:before {
	content:'\f177';
}

.dashicons-post-status:before {
	content:'\f173';
}


/* Sorting */

.dashicons-arr-up:before {
	content:'\f142';
}

.dashicons-arr-down:before {
	content:'\f140';
}

.dashicons-arr-left:before {
	content:'\f141';
}

.dashicons-arr-right:before {
	content:'\f139';
}

.dashicons-sort:before {
	content:'\f156';
}

.dashicons-list-view:before {
	content:'\f163';
}

.dashicons-exerpt-view:before {
	content:'\f164';
}


/* Misc Icons */

.dashicons-wordpress:before {
	content:'\f120';
}

.dashicons-jetpack:before {
	content:'\f131';
}

.dashicons-pressthis:before {
	content:'\f157';
}

.dashicons-update:before {
	content:'\f113';
}

.dashicons-yes:before {
	content:'\f147';
}

.dashicons-no:before {
	content:'\f158';
}

.dashicons-plus-big:before {
	content:'\f114';
}

.dashicons-plus-small:before {
	content:'\f132';
}

.dashicons-xit:before {
	content:'\f153';
}

.dashicons-marker:before {
	content:'\f159';
}

.dashicons-star-filled:before {
	content:'\f155';
}

.dashicons-star-empty:before {
	content:'\f154';
}

.dashicons-cart:before {
	content:'\f174';
}

.dashicons-cloud:before {
	content:'\f176';
}
